<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserEmail</key>
	<string>myreviews@reviewfrog.com</string>
	<key>APIurl</key>
	<string>http://184.168.101.3/admin/IpadAPI/main/</string>
	<key>Businessurl</key>
	<string>http://184.168.101.3/admin/main/</string>
	<key>Termurl</key>
	<string>http://www.reviewfrog.com/main/termsconditions.php</string>
	<key>ChangeUrl</key>
	<string>http://184.168.101.3/admin/IpadAPI/main/</string>
	<key>ChangeBusiness</key>
	<string>http://www.reviewfrog.com/admin/main/</string>
	<key>WebsiteAPIurl</key>
	<string>http://184.168.101.3/admin/main/</string>
</dict>
</plist>
