<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Incentex.DAL.Properties.Settings.Incentex_testConnectionString6"
            connectionString="Data Source=10.2.1.61;Initial Catalog=Incentex;Persist Security Info=True;User ID=incentex;Password=28ken@incentex3"
            providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>