<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="vimeoAPIConfiguration" type="VimeoNET.Configuration.VimeoAPIConfiguration, VimeoNET, Version=1.0.0.0, Culture=neutral"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!-- This is for Local envirnoment -->
  <vimeoAPIConfiguration consumerKey="8255d96a93faa59356fe5662ef10bbb437f57127" consumerSecret="a6131f237b1820a08afea1fcd18917a0e67969bc" oauthToken="f4c26e00bb2a4a569b6a0b8e3a0a3e8d" oauthSecret="7ce60424d5257d9492b2b0f8902ab239d15b5269"/>
  <!-- This is for live envirnoment -->
  <!--<vimeoAPIConfiguration consumerKey="43c7e2041942ade5bf721c716aac37e1a85cab96" consumerSecret="ea94d77a4622bc0ecdc20f1973ba8ab71de12849" oauthToken="27afcee2c3a01fe84f035769a3f81772" oauthSecret="1f0cb72e9f63cb084f7b96e04a16d3f629512f2a"/>-->
  <appSettings>
    <add key="CurrencyConverter.CurrencyConvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx"/>
    <add key="mailfrom" value="test.soft8@gmail.com"/>
    <add key="NewDesignSiteurl" value="http://localhost:2166/Incentex.Web/NewDesign/"/>
    <add key="siteurl" value="http://localhost:2166/Incentex.Web/"/>
    <!--<add key="NewDesignSiteurl" value="http://10.2.5.5:91/NewDesign/"/>
    <add key="siteurl" value="http://10.2.5.5:91/"/>-->
    <add key="SMTPHOST" value="smtp.gmail.com"/>
    <add key="SMTPPORT" value="25"/>
    <add key="SMTPPASSWORD" value="wdfgh@$9"/>
    <add key="SMTPUSERID" value="test.soft8@gmail.com"/>
    <add key="paging" value="3"/>
    <add key="ProductImagesThumbsPath" value="~/UploadedImages/ProductImages/Thumbs/"/>
    <add key="ProductImagesLargePath" value="~/UploadedImages/ProductImages/"/>
    <add key="SupplierDocumentPath" value="~/UploadedImages/SupplierDocuments/"/>
    <add key="SupplierEmployeeDocumentPath" value="~/UploadedImages/SupplierEmployeeDocuments/"/>
    <add key="IncentexEmployeeDocumentPath" value="~/UploadedImages/IncentexEmployeeDocuments/"/>
    <add key="ServieTicketAttachementPath" value="~/UploadedImages/ServieTicketAttachements/"/>
    <add key="SAPOrderFailedResponsePath" value="~/UploadedImages/SAPOrderFailedResponses/"/>
    <add key="SAPUpdateOrderFailedRequestPath" value="~/UploadedImages/SAPUpdateOrderFailedRequests/"/>
    <add key="SAPInsertItemFailedResponsePath" value="~/UploadedImages/SAPInsertItemFailedRequests/"/>
    <add key="SAPUpdateItemFailedResponsePath" value="~/UploadedImages/SAPUpdateItemFailedRequests/"/>
    <add key="SAPUserFailedResponsePath" value="~/UploadedImages/SAPUserFailedResponses/"/>
    <add key="StrikeIronResponsePath" value="~/UploadedImages/StrikeIronResponses"/>
    <add key="CoupaOrderRequestPath" value="~/UploadedImages/CoupaOrderRequests/"/>
    <add key="SAPOperationSucceedNotifyList" value="devraj.gadhavi@indianic.com"/>
    <add key="SAPOperationFailedNotifyList" value="devraj.gadhavi@indianic.com"/>
    <add key="SAPOrderRetransmissionNotifyList" value="devraj.gadhavi@indianic.com"/>
    <add key="StrikeIronFailedNotifyList" value="devraj.gadhavi@indianic.com"/>
    <add key="SAPRetransmissionMinutes" value="15"/>
    <add key="DownloadedPAASOrderPath" value="~/UploadedImages/DownloadedPAASOrders/"/>
    <add key="UserManagementTemplates" value="~/UploadedImages/UserManagement/Templates/"/>
    <add key="UserManagementTemp" value="~/UploadedImages/UserManagement/Temp/"/>
    <add key="AnniversaryCreditExpiredNotificationEmailAddress" value="solutions@incentex.com"/>
    <add key="testSystemInbox" value="devraj.gadhavi@indianic.com"/>
    <add key="PayFlowUSER" value="knelson"/>
    <add key="PayFlowVENDOR" value="knelson"/>
    <add key="PayFlowPARTNER" value="paypal"/>
    <add key="PayFlowPWD" value="incentex2011"/>
    <add key="Paypal_HOST" value="https://pilot-payflowpro.paypal.com"/>
    <add key="Paypal_HOST_API" value="pilot-payflowpro.paypal.com"/>
    <add key="StrikeironUserID" value="961F3E689CC0FFE7546F"/>
    <add key="StrikeironPassword" value=""/>
    <add key="com.strikeiron.ws.taxdatabasic5" value="http://ws.strikeiron.com/StrikeIron/TaxDataBasic5/TaxDataBasic"/>
    <add key="MagayaUser" value="Incentex"/>
    <add key="MagayaPassword" value="abc1234"/>
    <add key="MagayStartMinute" value="-660"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <add key="MagayaService.CSSoapService" value="http://66.83.165.189:3691/Invoke?Handler=CSSoapService"/>
    <add key="TrackWebReference.Track" value="https://wwwcie.ups.com/webservices/Track"/>
    <add key="UPSUserName" value="krusnha@indianic"/>
    <add key="UPSPassword" value="IndiaNIC1"/>
    <add key="UPSLicenceNumber" value="3C97F2552DEFF350"/>
    <add key="SupportTicketEmailEnvironmentLive" value="false"/>
    <add key="SupportTicketDefaultOwner" value="Kim Hurst"/>
    <add key="SupportTicketForEmployeesDefaultOwner" value="Kerri Tropf"/>
    <add key="OrderSummaryNotesEnvironmentLive" value="false"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="ACCTivateStartMinute" value="-30"/>
    <add key="ClickatelUser" value="knelson"/>
    <add key="ClickatelPassword" value="alpha1"/>
    <add key="ClickatelApi_id" value="3395479"/>
    <add key="ClickatelMO" value="1"/>
    <add key="ClickatelFrom" value="17863194930"/>
    <add key="MouseFlowURL" value="http://account.c.mouseflow.com/api"/>
    <add key="MouseFlowEmail" value="knelson@incentex.com"/>
    <add key="MouseFlowAPIToken" value="D18EF1990B44F26"/>
    <add key="MailBee.Global.LicenseKey" value="MN700-824A64BB4AC74AF24A649B5C5BB2-052F"/>
    <add key="SAP_API.ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT" value="http://216.157.31.142:8080/B1iXcellerator/exec/soap/vP.0010000106.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="conn" connectionString="Data Source=216.157.31.118;Initial Catalog=Incentex_TradeShow;User ID=testp2;password=28ken@incentex3;" providerName="System.Data.SqlClient"/>-->
    <add name="conn" connectionString="Data Source=10.2.1.61\MSSQLSER;Initial Catalog=Incentex;User ID=incentex;password=28ken@incentex3;" providerName="System.Data.SqlClient"/>
    <add name="PASSConnection" connectionString="Data Source=10.5.1.21\acctivate;Initial Catalog=ACCTivate$INCENTEX QB ACCTIVATE;User ID=krathod;password=incentex1;" providerName="System.Data.SqlClient"/>
    <!--Max Pool Size=7500;Connect Timeout=200;-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="errorpage.htm"></customErrors>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="ErrorPage.aspx"/>
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="artem" namespace="Artem.Google.UI" assembly="Artem.Google"/>
        <add tagPrefix="fjx" namespace="com.flajaxian" assembly="com.flajaxian.FileUploader"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <globalization culture="en-US" uiCulture="en-US"/>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <sessionState timeout="1440" mode="InProc"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="999999"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>