.header-btn , .login-btn , .blue-btn , .gray-btn , .register-block .left-form .input-field, .register-block .right-form .input-field {behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
.dk_toggle, .input-field-small{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc);position:relative;}

/* Account page */

.search-field , .input-field-all{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
.save-btn , .delete-btn , .cart-btn , .cart-btn-block .input-qty{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
.contact-form li .input-contact{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative; border:#CCC solid 1px;}
.contact-form li .textarea-contact{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative; border:#CCC solid 1px;}
.contact-block .live-chat-off{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
.contact-block .contact-btn , .contact-block .live-chat{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
/*#message-popup .pop-message-listing li{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}*/
.messgae-tag .msg-inner{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}
.message-listing li .input-textarea{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}

.loginBlock-inner .login-field , .loginBlock-inner .password-field{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc); position:relative;}

.table-drop div.selector, .table-btn, .gray-button, .multiline-text, .royal-largebtn{behavior: url(http://216.157.31.116:82/NewDesign/StaticContents/css/pie.htc);  position:relative;}


.header-btn{ -pie-background: linear-gradient(top,  #7aa2f4 0%,#4d81ec 1%,#1f54c2 99%,#7db9e8 100%); }
/*.login-btn{-pie-background: linear-gradient(top,  #1e5799 0%,#a7d686 0%,#80c769 1%,#5c973b 100%,#5b963a 100%);}*/
.login-btn{-pie-background: linear-gradient(top,  #c15d48 0%,#a74837 1%,#912d1c 99%,#952f1e 100%);}
/*.login-btn{-pie-background: linear-gradient(top,  #9ce0ed 0%,#6dcee0 1%,#1ea6c4 99%,#3bb5d0 100%);}*/
.blue-btn{-pie-background: linear-gradient(top,  #7aa2f4 0%,#4d82ed 1%,#356ad5 40%,#1e53c0 97%,#295fce 100%);}
.gray-btn{-pie-background: linear-gradient(top,  #dfdfdf 0%,#d1d1d1 1%,#b1b1b1 40%,#8d8d8d 97%,#9b9b9b 100%);}
.save-btn{ -pie-background: linear-gradient(top,  #7aa2f4 0%,#4b7fea 2%,#1f54c2 100%);}
.delete-btn{-pie-background: linear-gradient(top,  #9be0ec 0%,#6bcfe2 2%,#8A2D1D 100%);}
.cart-btn{-pie-background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);}
.contact-block .live-chat-off{-pie-background: linear-gradient(top,  #d0d0d0 0%,#b3b3b3 1%,#656565 100%);}
.contact-block .contact-btn , .contact-block .live-chat{-pie-background: linear-gradient(top,  #7aa2f4 0%,#4b7fea 1%,#234ea7 100%);}

.secondaryNav li{-pie-background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%);}


/* IE7 */
*:first-child+html .loginBlock-inner .login-field{ padding:1px; border:transparent solid 3px; display:inline-block; margin:0px;}
*:first-child+html .loginBlock-inner .login-field.active{background:#8bc1f6; padding:4px; display:inline-block; border:0px;}
*:first-child+html .loginBlock-inner .password-field{ padding:1px; border:transparent solid 3px; display:inline-block; margin:0px;}
*:first-child+html .loginBlock-inner .password-field.active{background:#8bc1f6; padding:4px; display:inline-block; border:0px;}

*:first-child+html .basic-form .left-form > li{ margin-bottom:3px;}
*:first-child+html .account-form-block .basic-form .border-data{ margin-bottom:12px;}

*:first-child+html .filter-block .title-txt a{ margin-top:-40px; margin-right:15px;}
*:first-child+html .filter-header .filter-search .go-btn{ margin-right:15px; margin-top:1px;}



