/************** Skin 1 *********************/
.dd {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
}
.dd .ddTitle {
	background:#f2f2f2;
	border:1px solid #c3c3c3;
	padding:3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:16px;
}
.dd .ddTitle span.arrow {
	background:url(../images/dd_arrow.gif) no-repeat 0 0; float:right; display:inline-block;width:16px; height:16px; cursor:pointer; 
}

.dd .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:16px;}
.dd .ddTitle span.ddTitleText img{text-align:left; padding:0 2px 0 0}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:2px 0 2px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd .ddChild a:hover {
	background-color:#000;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd .ddChild a.selected {
	background-color:#000;
	
}
.hidden {display:none;}

/************** Skin 2 *********************/
.dd2 {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}
.dd2 .ddTitle {
	background-color:#303030;
	padding:0 3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:36px;
}
.dd2 .ddTitle span.arrow {
	background:transparent url(../images/select-aerrow.gif) no-repeat 0 0; float:right; display:inline-block;width:27px; height:27px; cursor:pointer; top:5px; position:relative; right:2px;
}

.dd2 .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:33px; font-family:Arial, Helvetica, sans-serif; font-size:11px;  color:#fff;}
.dd2 .ddTitle span.ddTitleText img{text-align:left; margin:0px 10px 0px 0px;}
.dd2 .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd2 .ddChild {
	position:absolute;
	border-top:none;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:11px;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {padding-left:10px}
.dd2 .ddChild a {
	background:#a4a4a4;
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd2 .ddChild a:hover {
	background:#316ac5;
	color:#fff;
}
.dd2 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd2 .ddChild a.selected {
	background-color:#316ac5;	
	color:#FFF;
}

/************* use sprite *****************/

.dd3 {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:5px;
	background:url(../images/select-box-bg.png) no-repeat 0px -27px;
	

}
.dd3 .ddTitle {
	padding-right:5px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:28px;
	background:url(../images/select-box-bg.png) no-repeat 100% 0px;
}
.dd3 .ddTitle span.arrow {
	background:transparent url(../images/qty-input-aero.gif) no-repeat 0 0; float:right; display:inline-block; width:18px; height:18px; padding:0px!important; border:none; cursor:pointer; top:5px; position:relative; right:2px;
}

.dd3 .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:26px; font-family:Arial, Helvetica, sans-serif; font-size:11px;  color:#fff;}
.dd3 .ddTitle span.ddTitleText img{text-align:left; margin:0px 10px 0px 0px;}
.dd3 .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd3 .ddChild {
	position:absolute;
	border-top:none;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:11px;
}
.dd3 .ddChild .opta a, .dd2 .ddChild .opta a:visited {padding-left:10px}
.dd3 .ddChild a {
	background:#a4a4a4;
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd3 .ddChild a:hover {
	background:#316ac5;
	color:#fff;
}
.dd3 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd3 .ddChild a.selected {
	background-color:#316ac5;	
	color:#FFF;
}

/*-------------------------------------------------------------------*/

.dd4 {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}
.dd4 .ddTitle {
	background-color:#303030;
	padding:0 3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:36px;
}
.dd4 .ddTitle span.arrow {
	background:transparent url(../images/select-aerrow.gif) no-repeat 0 0; float:right; display:inline-block;width:27px; height:27px; cursor:pointer; top:5px; position:relative; right:2px;
}

.dd4 .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:33px; font-family:Arial, Helvetica, sans-serif; font-size:11px;  color:#fff;}
.dd4 .ddTitle span.ddTitleText img{text-align:left; margin:0px 10px 0px 0px;}
.dd4 .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd4 .ddChild {
	position:absolute;
	border-top:none;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:11px;
}
.dd4 .ddChild .opta a, .dd2 .ddChild .opta a:visited {padding-left:10px}
.dd4 .ddChild a {
	background:#a4a4a4;
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd4 .ddChild a:hover {
	background:#316ac5;
	color:#fff;
}
.dd4 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd4 .ddChild a.selected {
	background-color:#316ac5;	
	color:#FFF;
}


