/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #credboxOverlay, #credboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#credboxOverlay{position:fixed; width:100%; height:100%;}
#credboxMiddleLeft, #credboxBottomLeft{clear:left;}
#credboxContent{position:relative;}
#credboxLoadedContent{overflow:auto;}
#credboxTitle{margin:0;}
#cLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#credboxPrevious, #credboxNext, #credboxClose, #credboxSlideshow{cursor:pointer;}
.credboxPhoto{float:left; margin:auto; border:0; display:block;}
.credboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#credboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{}
    #credboxTopLeft{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -100px 0;}
    #credboxTopRight{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -125px 0;}
    #credboxBottomLeft{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -100px -41px;}
    #credboxBottomRight{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -125px -41px;}
    #credboxMiddleLeft{width:25px; background:url(images/red_controls.png) left top repeat-y;}
    #credboxMiddleRight{width:25px; background:url(images/red_controls.png) right top repeat-y;}
    #credboxTopCenter{height:25px; background:url(images/red_border.gif) 0 1px repeat-x;}
    #credboxBottomCenter{height:21px; background:url(images/red_border.gif) 0 -29px repeat-x;}
    #credboxContent{background:#8F0D0C; overflow:hidden;}
        #credboxError{padding:50px; border:1px solid #ccc;}
        #credboxLoadedContent{margin-bottom:28px;}
        #credboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #credboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #credboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #credboxPrevious{position:absolute; bottom:0; left:0; background:url(images/red_controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #credboxPrevious.hover{background-position:-75px -25px;}
        #credboxNext{position:absolute; bottom:0; left:27px; background:url(images/red_controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #credboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #credboxClose{position:absolute; top:0; right:-4px; background:url(images/red_controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #credboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.credboxIE #credboxTopLeft,
.credboxIE #credboxTopCenter,
.credboxIE #credboxTopRight,
.credboxIE #credboxBottomLeft,
.credboxIE #credboxBottomCenter,
.credboxIE #credboxBottomRight,
.credboxIE #credboxMiddleLeft,
.credboxIE #credboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.credboxIE6 #credboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.credboxIE6 #credboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.credboxIE6 #credboxTopRight{background:url(images/ie6/borderTopRight.png);}
.credboxIE6 #credboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.credboxIE6 #credboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.credboxIE6 #credboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.credboxIE6 #credboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.credboxIE6 #credboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.credboxIE6 #credboxTopLeft,
.credboxIE6 #credboxTopCenter,
.credboxIE6 #credboxTopRight,
.credboxIE6 #credboxBottomLeft,
.credboxIE6 #credboxBottomCenter,
.credboxIE6 #credboxBottomRight,
.credboxIE6 #credboxMiddleLeft,
.credboxIE6 #credboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

/***************************************************************************************/
/* Converting the ID based styles to classes (Devraj Gadhavi - 03/09/2012)             */
/***************************************************************************************/

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
.colorbox, .credboxOverlay, .credboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
.credboxOverlay{position:fixed; width:100%; height:100%;}
.credboxMiddleLeft, .credboxBottomLeft{clear:left;}
.credboxContent{position:relative;}
.credboxLoadedContent{overflow:auto;}
.credboxTitle{margin:0;}
.cboxLoadingOverlay, .cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
.credboxPrevious, .credboxNext, .credboxClose, .credboxSlideshow{cursor:pointer;}
.credboxPhoto{float:left; margin:auto; border:0; display:block;}
.credboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
.credboxOverlay{background:url(images/overlay.png) repeat 0 0;}
.colorbox{}
    .credboxTopLeft{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -100px 0;}
    .credboxTopRight{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -125px 0;}
    .credboxBottomLeft{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -100px -41px;}
    .credboxBottomRight{width:25px; height:25px; background:url(images/red_controls.png) no-repeat -125px -41px;}
    .credboxMiddleLeft{width:25px; background:url(images/red_controls.png) left top repeat-y;}
    .credboxMiddleRight{width:25px; background:url(images/red_controls.png) right top repeat-y;}
    .credboxTopCenter{height:25px; background:url(images/red_border.gif) 0 1px repeat-x;}
    .credboxBottomCenter{height:21px; background:url(images/red_border.gif) 0 -29px repeat-x;}
    .credboxContent{background:#8F0D0C; overflow:hidden;}
        .credboxError{padding:50px; border:1px solid #ccc;}
        .credboxLoadedContent{margin-bottom:28px;}
        .credboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        .credboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        .credboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        .credboxPrevious{position:absolute; bottom:0; left:0; background:url(images/red_controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        .credboxPrevious.hover{background-position:-75px -25px;}
        .credboxNext{position:absolute; bottom:0; left:27px; background:url(images/red_controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        .credboxNext.hover{background-position:-50px -25px;}
        .cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        .cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        .credboxClose{position:absolute; top:0; right:-4px; background:url(images/red_controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        .credboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.credboxIE .credboxTopLeft,
.credboxIE .credboxTopCenter,
.credboxIE .credboxTopRight,
.credboxIE .credboxBottomLeft,
.credboxIE .credboxBottomCenter,
.credboxIE .credboxBottomRight,
.credboxIE .credboxMiddleLeft,
.credboxIE .credboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.credboxIE6 .credboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.credboxIE6 .credboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.credboxIE6 .credboxTopRight{background:url(images/ie6/borderTopRight.png);}
.credboxIE6 .credboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.credboxIE6 .credboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.credboxIE6 .credboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.credboxIE6 .credboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.credboxIE6 .credboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.credboxIE6 .credboxTopLeft,
.credboxIE6 .credboxTopCenter,
.credboxIE6 .credboxTopRight,
.credboxIE6 .credboxBottomLeft,
.credboxIE6 .credboxBottomCenter,
.credboxIE6 .credboxBottomRight,
.credboxIE6 .credboxMiddleLeft,
.credboxIE6 .credboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
body {
}

.redbox span.checkbox-on
        {
            background: url( "../images/check-red-box-img.jpg" ) no-repeat scroll left top transparent !important;
        }
        .redbox span.checkbox-off
        {
             background: url( "../images/check-red-box-img.jpg" ) no-repeat scroll left -22px transparent !important;
        }